!!! 5
%html( lang="de" )
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    %link( rel="stylesheet" href="//bootswatch.com/lumen/bootstrap.min.css" )
    %link( href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" )
    %title= data.page.title || "Freifunk Düsseldorf"
    = yield_content :head
    :sass
      .navbar-header
        height: 80px
      .navbar-collapse
        padding: 0
      .nav
        height: 80px
        font-size: 16px
        padding-top: 28px
  %body
    = partial "navbar"
    .container
      = yield
