---
title: Anleitung - Freifunk Düsseldorf
---

%h1 Anleitung
%h2 Gerät besorgen
%p.lead Erst einmal benötigst du ein kompatibles Gerät. Handelsübliche WLAN-Router für 20 bis 30 Euro reichen aus, um einen Freifunk-Knoten zu betreiben. Aber bevor du nun in den Laden gehst und Geld ausgibst, schau einmal in die folgende Liste, welche Modelle mit unserer Software funktionieren.
%p.lead
  Jedes Modell gibt es in verschiedenen Revisionen. Die aktuellen Revisionen werden meistens unterstützt. Klicke auf den den richtigen Knopf und speichere die Firmware ab, dann geht's unten weiter.
%p.lead
  Falls du ein vorbereites Gerät bekommen hast, das du nur noch einrichten musst, dann überspringe die Installation und gehe direkt zur Einrichtung.
%h2 Firmware Download
%p
  Aktuell verwenden wir
  = link_to "Freifunk Rheinland Gluon 0.4+1 beta", "https://github.com/ffrl/gluon"
%h3 D-Link
.row
  .col-md-2
    %p.lead
      DIR-825
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-d-link-dir-825-rev-b1.bin" ) Revision b1
%h3 TP-Link
.row
  .col-md-2
    %p.lead
      TL-MR3020
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-mr3020-v1.bin" ) Revision 1
.row
  .col-md-2
    %p.lead
      TL-MR3040
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-mr3040-v1.bin" ) Revision 1
.row
  .col-md-2
    %p.lead
      TL-MR3420
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-mr3420-v1.bin" ) Revision 1
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-mr3420-v2.bin" ) Revision 2

.row
  .col-md-2
    %p.lead
      TL-MR3500
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-wdr3500-v1.bin" ) Revision 1

.row
  .col-md-2
    %p.lead
      TL-MR3600
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-wdr3600-v1.bin" ) Revision 1

.row
  .col-md-2
    %p.lead
      TL-MR3600
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-wdr4300-v1.bin" ) Revision 1

.row
  .col-md-2
    %p.lead
      TL-WR740N(D)
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4%2b0-exp20140506-tp-link-tl-wr740n-nd-v1.bin" ) Revision 1
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4%2b0-exp20140506-tp-link-tl-wr740n-nd-v3.bin" ) Revision 3
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4%2b0-exp20140506-tp-link-tl-wr740n-nd-v4.bin" ) Revision 4
.row
  .col-md-2
    %p.lead
      TL-WR741N(D)
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-wr741n-nd-v1.bin" ) Revision 1
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-wr741n-nd-v2.bin" ) Revision 2
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-wr741n-nd-v4.bin" ) Revision 4
.row
  .col-md-2
    %p.lead
      TL-WR841N(D)
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-wr841n-nd-v3.bin" ) Revision 3
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-wr841n-nd-v5.bin" ) Revision 5
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-wr841n-nd-v7.bin" ) Revision 7
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-wr841n-nd-v8.bin" ) Revision 8
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-wr841n-nd-v9.bin" ) Revision 9
.row
  .col-md-2
    %p.lead
      TL-WR842N(D)
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-wr842n-nd-v1.bin" ) Revision 1
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-wr842n-nd-v2.bin" ) Revision 2
.row
  .col-md-2
    %p.lead
      TL-WR941N(D)
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-wr941n-nd-v2.bin") Revision 2
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-wr941n-nd-v3.bin") Revision 3
  .col-md-3
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-wr941n-nd-v4.bin") Revision 4
.row
  .col-md-2
    %p.lead
      TL-WA901N(D)
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-wa901n-nd-v2.bin") Revision 2
.row
  .col-md-2
    %p.lead
      TL-WR1043N(D)
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-tp-link-tl-wr1043n-nd-v1.bin") Revision 1
%h3 Ubiquiti
.row
  .col-md-2
    %p.lead
      NanoStation M
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-ubiquiti-nanostation-m.bin" ) Download
.row
  .col-md-2
    %p.lead
      UniFi
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-ubiquiti-unifi.bin" ) Download
.row
  .col-md-2
    %p.lead
      UniFi Outdoor
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/0.4+1-beta/factory/gluon-rheinufer-0.4+1-beta-ubiquiti-unifiap-outdoor.bin" ) Download

%h2 Installation
%p.lead
  Mit dieser Firmware wird dein WLAN-Router zu einem Freifunk-Knoten
  umprogrammiert. Die Installation funktioniert genau so, wie eine
  Aktualisierung der Firmware durch eine Datei des Herstellers. Mit unserer
  Firmware wird das Gerät umprogrammiert.
%p.lead
  Wie das genau funktioniert, erklären unsere Genossen vom Freifunk Hamburg sehr anschaulich in
  %a(href="http://hamburg.freifunk.net/anleitung/firmware-einspielen") ihrem Blog.

%h2 Einrichtung
%p.lead
  Beim dem ersten Start geht der Knoten in den Konfigurationsmodus. So kannst du ihn in Ruhe einrichten, bevor er sich ins Netz einbucht. Die Angaben dort sind nichts kompliziertes und auch dafür gibt es im
  Blog der Hamburger eine
  %a(href="http://hamburg.freifunk.net/anleitung/router-einrichten") Anleitung.

%h2 Aufstellen
%p.lead
  Den Freifunk-Knoten baust du am besten da auf, wo er gut erreichbar ist. Das ist zum Beispiel auf der Fensterbank der Fall. Wenn das Kabel mit dem Internet-Anschluss nicht bis dorthin reicht, dann nimm einfach mehrere Knoten, so dass sie sich per WLAN verbinden.
%p.lead
  Freifunk-Knoten, die zu der selben Community gehören, verbinden sich auch immer per WLAN. So reichen sie wie in einer Eimerkette die Daten von Punkt zu Punkt weiter. Wer mag, kann mit größeren und speziellen Antennen diese Verbindungen verbessern und die Reichweite erhöhen.
%p.lead
  Wir freuen uns, wenn du als neuer Freifunker zu unseren
  %a(href="/kontakt") Treffen
  kommst.
