---
title: Download - Freifunk Düsseldorf
---

%h1 Download
%p.lead Freie Software für Freie Netze!
%p
  Aktuell verwenden wir
  = link_to "Gluon 2016.1.3", "https://github.com/freifunk-gluon/gluon"
- data.downloads.images.each do |profile|
  %h3= profile.brand
  - profile.models.each do |model|
    .row.lead
      .col-sm-4.col-md-3
        %p
          =model.name.upcase
      .col-sm-8.col-md-9
        - if model.image.is_a? Hash
          - model.image.each do |revision,image|
            %a.btn.btn-default( href="https://images.freifunk-duesseldorf.de/gluon/stable/factory/#{image}" )
              =revision
        - else
          %a.btn.btn-default( href="https://images.freifunk-duesseldorf.de/gluon/stable/factory/#{model.image}" ) Download