---
title: Download - Freifunk Düsseldorf
---

%h1 Download
%p.lead Freie Software für Freie Netze!
%p
  Aktuell verwenden wir
  = link_to "Gluon 2015.1.2", "https://github.com/freifunk-gluon/gluon"
%h3 Buffalo
.row
  .col-md-2
    %p.lead
      WZR-HP-AG300H
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-buffalo-wzr-hp-ag300h-wzr-600dhp.bin" ) Download
.row
  .col-md-2
    %p.lead
      WZR-HP-G450H
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-buffalo-wzr-hp-g450h.bin" ) Download

%h3 D-Link
.row
  .col-md-2
    %p.lead
      DIR-825
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-d-link-dir-825-rev-b1.bin" ) Revision b1
%h3 TP-Link
.row
  .col-md-2
    %p.lead
      CPE210
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-cpe210-v1.0.bin" ) Download
.row
  .col-md-2
    %p.lead
      CPE510
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-cpe510-v1.0.bin" ) Download
.row
  .col-md-2
    %p.lead
      TL-MR3020
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-mr3020-v1.bin" ) Revision 1
.row
  .col-md-2
    %p.lead
      TL-MR3040
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-mr3040-v1.bin" ) Revision 1
.row
  .col-md-2
    %p.lead
      TL-MR3420
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-mr3420-v1.bin" ) Revision 1
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-mr3420-v2.bin" ) Revision 2

.row
  .col-md-2
    %p.lead
      TL-MR3500
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wdr3500-v1.bin" ) Revision 1

.row
  .col-md-2
    %p.lead
      TL-MR3600
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wdr3600-v1.bin" ) Revision 1

.row
  .col-md-2
    %p.lead
      TL-MR4300
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wdr4300-v1.bin" ) Revision 1

.row
  .col-md-2
    %p.lead
      TL-WR740N(D)
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wr740n-nd-v1.bin" ) Revision 1
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wr740n-nd-v3.bin" ) Revision 3
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wr740n-nd-v4.bin" ) Revision 4
.row
  .col-md-2
    %p.lead
      TL-WR741N(D)
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wr741n-nd-v1.bin" ) Revision 1
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wr741n-nd-v2.bin" ) Revision 2
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wr741n-nd-v4.bin" ) Revision 4
.row
  .col-md-2
    %p.lead
      TL-WR841N(D)
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wr841n-nd-v3.bin" ) Revision 3
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wr841n-nd-v5.bin" ) Revision 5
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wr841n-nd-v7.bin" ) Revision 7
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wr841n-nd-v8.bin" ) Revision 8
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wr841n-nd-v9.bin" ) Revision 9
.row
  .col-md-2
    %p.lead
      TL-WR842N(D)
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wr842n-nd-v1.bin" ) Revision 1
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wr842n-nd-v2.bin" ) Revision 2
.row
  .col-md-2
    %p.lead
      TL-WR941N(D)
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wr941n-nd-v2.bin") Revision 2
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wr941n-nd-v3.bin") Revision 3
  .col-md-3
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wr941n-nd-v4.bin") Revision 4
.row
  .col-md-2
    %p.lead
      TL-WA901N(D)
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wa901n-nd-v2.bin") Revision 2
.row
  .col-md-2
    %p.lead
      TL-WR1043N(D)
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wr1043n-nd-v1.bin") Revision 1
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-tp-link-tl-wr1043n-nd-v2.bin") Revision 2
%h3 Ubiquiti
.row
  .col-md-2
    %p.lead
      Bullet M
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-ubiquiti-bullet-m.bin" ) Download
.row
  .col-md-2
    %p.lead
      NanoStation M
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-ubiquiti-nanostation-m.bin" ) Download
.row
  .col-md-2
    %p.lead
      UniFi AP
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-ubiquiti-unifi.bin" ) Download
.row
  .col-md-2
    %p.lead
      UniFi AP Outdoor
  .col-md-1
    %a.btn.btn-default( href="http://images.freifunk-rheinland.net/images/gluon/rheinufer/2015.1.2-stable-1/factory/gluon-rheinufer-2015.1.2-stable-1-ubiquiti-unifiap-outdoor.bin" ) Download
