---
title: Impressum - Freifunk D端sseldorf
---

%h2 Impressum

%p
  Postanschrift:
  %address
    Freifunk D端sseldorf e.V.
    %br
    Erkrather Str. 401
    %br
    40231 D端sseldorf

%p
  Telefon:
  %a(href="tel:+4921174951760")0211 74951760

%p
  E-Mail:
  %a(href="mailto:kontakt@freifunk-duesseldorf.de")kontakt@freifunk-duesseldorf.de

%p
  Vertreten durch den Vorstand:
  %br
  Michael Theine-Dimt
  %br
  Micoto Szillat
  %br
  Marcus Weiner

%p
  Eingetragen im Vereinsregister des Amtsgerichts D端sseldorf unter der Nummer 11315
