%h2 Impressum

%p
  Postanschrift:
  %address
    Freifunk Düsseldorf e.V.
    %br
    Bilker Allee 217
    %br
    40215 Düsseldorf

%p
  Telefon:
  %a(href="tel:+4921174951760")0211 74951760

%p
  E-Mail:
  %a(href="mailto:kontakt@freifunk-duesseldorf.de")kontakt@freifunk-duesseldorf.de

%p
  Vertreten durch den Vorstand:
  %br
  Michael Theine-Dimt
  %br
  Micoto Szillat
  %br
  Thorben Heinz

%p
  Eingetragen im Vereinsregister des Amtsgerichts Düsseldorf unter der Nummer 11315
