---
title: Freifunk Düsseldorf
---

:scss
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    margin-bottom: 30px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  h1 {
    font-size: 4.5rem;
  }
  .jumbotron h2 {
    font-size: 4rem;
    margin-top: 0;
  }
  body {
    background-image: url("/images/photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .section-use .col-map {
    position: relative;
  }
  .section-use .map-link {
    position: absolute;
    width: 100%;
    background-image: url(/images/map-preview.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(50);
    color: white;
    font-size: 80px;
    padding-bottom: 70%;
  }
  .section-use .map-link .icon-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
  }
  .section-use .map-link i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -35px;
    opacity: 0.7;
  }
  .section-use hr {
    border-top-color: #d5d5d5;
  }

  .sponsor-listing img {
    max-width: 25%;
    max-height: 170px;
    margin-right: 15px;
  }

.jumbotron.text-center
  %h1 Freies WLAN in Düsseldorf
  %p Wir bauen ein freies Wifi-Netzwerk, über das du kostenfreien Zugang zum Internet bekommen kannst.
  %hr
  .row
    .col-md-6
      %i.fa.fa-arrow-circle-o-right.fa-3x
      %p Das Netzwerk kann von jedem genutzt werden, ohne Anmeldung. Und das an immer mehr Orten.
    .col-md-6
      %i.fa.fa-child.fa-3x
      %p Mach mit bei den Freifunkern und erweitere das Netzwerk mit deinen eigenen Geräten.

.jumbotron.section-use
  .row
    .col-md-8
      %h2 Nutzen
      %p Verbinde dein Gerät mit dem freien WLAN
      %hr
      %p
        An vielen Orten in Düsseldorf kannst du dich mit deinem Gerät (Smartphone, Laptop) mit dem
        offenen Netzwerk "Freifunk" verbinden. Nutze die <a href="https://map.freifunk-duesseldorf.de/" target="_blank">Karte</a>
        um zu sehen, wo das Netzwerk verfügbar ist.
    .col-md-4.col-map.hidden-sm.hidden-xs
      %a.map-link( href="https://map.freifunk-duesseldorf.de/" target="_blank" )
        .icon-wrapper
          %i.fa.fa-arrows-alt

.jumbotron.text-center
  %h2 Mitmachen
  %p Stelle deinen eigenen Knoten auf, verbinde dich ans Freifunk-Netzwerk und richte die Antennen aus!
  %hr
  .row
    .col-md-6
      %h3 Anleitung
      %p Lies unsere Anleitung, wie du Schritt für Schritt einen eigenen Freifunk-Knoten aufbauen kannst.
      %a.btn.btn-primary(href="/anleitung") Anleitung
    .col-md-6
      %h3 Kontakt
      %p Wir laden dich zu unseren Treffen ein. Komm einfach vorbei und melde dich im Forum an.
      %a.btn.btn-primary(href="/kontakt") Kontakt

.videoWrapper
  %iframe( src="//player.vimeo.com/video/64814620" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen )

.jumbotron
  %h3 Sponsoren
  = partial(:partner_listing, :locals => {:partners => data.sponsors})
  %hr
  %h3 Kooperationspartner
  = partial(:partner_listing, :locals => {:partners => data.coops})

%p.clearfix
  %a.btn.btn-link.pull-right( href="https://secure.flickr.com/photos/20792787@N00/4016700157" ) Photo by jaime.silva
