---
title: Karte - Freifunk Düsseldorf
---

.row
  .col-md-11
    %h2
      Karte der Standorte
      %small Domäne Rheinufer
  .col-md-1
    %button( class="btn btn-default btn-info" data-toggle="modal" data-target="#json" ) JSON


%div( class="modal fade" id="graph" tabindex="-1" role="dialog" aria-labelledby="JSON" aria-hidden="true" )
  %div.modal-dialog
    %div.modal-content
      %div( class="embed-responsive embed-responsive-16by9" )
        %iframe( class="embed-responsive-item" src="http://ffmap.freifunk-rheinland.net/alfred_merged.json" )

.karte
  %div( class="embed-responsive embed-responsive-16by9" )
    %iframe( class="embed-responsive-item" src="http://ffmap.freifunk-rheinland.net/" )
