---
title: Kontakt - Freifunk Düsseldorf
---
%h1 Kontakt

%h2 Internet
%ul.lead.fa-ul
  %li
    %i.fa.fa-li.fa-envelope
    %a( href="mailto:kontakt@freifunk-duesseldorf.de" ) kontakt@freifunk-duesseldorf.de
  %li
    %i.fa.fa-li.fa-twitter
    %a( href="https://twitter.com/ffddorf" ) @ffddorf

%h2 Treffen
%p.lead
  Das Chaosdorf ist ein Hackerspace, also ein Treffpunkt und eine Werkstatt für Menschen, die ihren Projekten nachgehen. Dort gibt es Sitzplätze mit Internet-Zugang und Getränke. Einen Plan, wie du dort hinkommst und was es dort sonst noch gibt, findest du auf der Chaosdorf-Website.
%ul.lead.fa-ul
  %li
    %i.fa.fa-li.fa-calendar
    %p Am zweiten Montag eines Monats ab 19 Uhr
  %li
    %i.fa.fa-li.fa-map-marker
    %address
      Chaosdorf
      %br
      Hüttenstraße 25
      %br
      Düsseldorf
  %li
    %i.fa.fa-li.fa-globe
    %a.btn.btn-default(href="https://chaosdorf.de/kontakt")zum Chaosdorf

%h2 Mailingliste
%p.lead
  Wir haben eine Mailingliste, über der wir mit allen Interessierten Freifunkern in Düsseldorf kommunizieren. So kannst du einfach alle erreichen und jederzeit das Gespräch beginnen.
%ul.lead.fa-ul
  %li
    %i.fa.fa-li.fa-users
    %a.btn.btn-default(href="https://mailman.freifunk-rheinland.net/mailman/listinfo/duesseldorf") Abonnieren


%h2 Freifunk.net
%p.lead
  Allgemeine Informationen zu Freifunk und Neuigkeiten aus den Communities findest du im
  %a( href="https://freifunk.net" ) Blog.
%p.lead
  Dokumentation zum Projekt sammeln wir community-übergreifend im
  %a( href="https://wiki.freifunk.net" ) Wiki.

%h2 Freifunk Rheinland
%p.lead
  Freifunk Düsseldorf wird unterstützt durch mehrere Vereine. Die nötigen Server und Kampagnenarbeit wird durch den
  %a( href="https://freifunk-rheinland.net" ) Freifunk Rheinland e.V.
  finanziert und betrieben. Der Verein hilft auch, die Communities durch regelmäßige Regionaltreffen zu verbinden und als Ansprechpartner für Menschen, die neue Communities gründen wollen.
