---
title: Kontakt - Freifunk Düsseldorf
---
%h1 Kontakt
%h2 Treffen
.row
  .col-md-3
    %i.fa.fa-calendar.fa-2x
    %p
      Am zweiten Montag eines Monats ab 19 Uhr
  .col-md-3
    %i.fa.fa-map-marker.fa-2x
    %address
      Chaosdorf
      %br
      Hüttenstr. 25
      %br
      Düsseldorf
  .col-md-3
    %i.fa.fa-rocket.fa-2x
    %p
      Das Chaosdorf ist ein Hackerspace, also ein Treffpunkt und eine Werkstatt für Menschen, die ihren Projekten nachgehen. Dort gibt es Sitzplätze mit Internet-Zugang und Getränke. Einen Plan, wie du dort hinkommst und was es dort sonst noch gibt, findest du auf der Chaosdorf-Website.
  .col-md-2
    %a.btn.btn-default(href="https://chaosdorf.de/kontakt")zum Chaosdorf
%h2 Mailingliste
.row
  .col-md-9
    %p Wir haben eine Mailingliste, über der wir mit allen Interessierten Freifunkern in Düsseldorf kommunizieren. So kannst du einfach alle erreichen und jederzeit das Gespräch beginnen.
  .col-md-3
    %a.btn.btn-default(href="https://mailman.freifunk-rheinland.net/mailman/listinfo/duesseldorf") Abonnieren

