---
title: Kontakt - Freifunk Düsseldorf
---
%h1 Kontakt

.row
  .col-md-4
    %h2
      %i.fa.fa-calendar
      Treffen
    %p.lead Wir sehen uns am zweiten Montag eines Monats ab 19 Uhr.
    %p Das Chaosdorf ist ein Hackerspace, also ein Treffpunkt und eine Werkstatt für Menschen, die ihren Projekten nachgehen. Dort gibt es Sitzplätze mit Internet-Zugang und Getränke. Einen Plan, wie du dort hinkommst und was es dort sonst noch gibt, findest du auf der Chaosdorf-Website. Komm vorbei!
    .text-right
      %a.btn.btn-default(href="https://chaosdorf.de/kontakt") Zum Chaosdorf
  .col-md-4
    %h2
      %i.fa.fa-users
      Forum
    %p.lead Im Freifunk Forum haben wir eine eigene Kategorie.
    %p Im Forum organisieren wir das Netz in Düsseldorf und tauschen uns mit Freifunkern aus anderen Communities aus. Dort kannst du jetzt deine Frage stellen und sehen, was uns gerade so beschäftigt. Es gibt dort Tipps für Hardware und Ankündigungen für Events. Melde dich an und du bleibst auf dem Laufenden!
    .text-right
      %a.btn.btn-default(href="https://forum.freifunk-rheinland.net/category/community/dusseldorf") Zum Forum

  .col-md-4
    %h2
      %i.fa.fa-twitter
      Twitter
    %p.lead
      Wir betreiben gemeinsam den Account @ffdorf.
    %p
      Freifunker aus Düsseldorf verlinken hier Neuigkeiten aus dem Forum und retweeten möglichst alles, was für Freifunk Düsseldorf relevant ist.
      %br
      Wenn du etwas über Freifunk Düsseldorf twitterst, dann nenne uns bitte und wir sagen es unseren Followern weiter. Und jetzt: folge uns!
    .text-right
      %a.btn.btn-default(href="https://twitter.com/ffddorf") Zur Timeline

.row
  .col-md-4
    %h2
      %i.fa.fa-coffee
      Butzen-Treffen
    %p.lead Am vierten Sonntag eines Monats ab 17 Uhr.
    %p Die Butze ist eine kollektiv betriebene Kneipe in Derendorf. Unser zweites Treffen dort hat den Schwerpunkt, sich kennenzulernen und zu plaudern. Hier gibt es nur wenig Technik, aber eine gemütliche Atmosphäre und Bedienung am Tisch. Auch wenn du keinen Laptop mitbringst: komm vorbei!
    .text-right
      %a.btn.btn-default(href="http://www.butze.org/wp/so-kommt-ihr-hin/") Zur Butze


%h2 Freifunk.net
%p
  Allgemeine Informationen zu Freifunk und Neuigkeiten aus den Communities findest du im
  %a( href="https://freifunk.net" ) Blog.
  Dokumentation zum Projekt sammeln wir community-übergreifend im
  %a( href="https://wiki.freifunk.net" ) Wiki.

%h2 Freifunk Rheinland
%p
  Freifunk Düsseldorf wird unterstützt durch mehrere Vereine. Die nötigen Server und Kampagnenarbeit wird durch den
  %a( href="https://freifunk-rheinland.net" ) Freifunk Rheinland e.V.
  finanziert und betrieben. Der Verein hilft auch, die Communities durch regelmäßige Regionaltreffen zu verbinden und als Ansprechpartner für Menschen, die neue Communities gründen wollen.
