---
title: Verein - Freifunk Düsseldorf
---

.col-md-12
  %h1 Der Verein

.col-md-6

  %p.lead Der Freifunk Düsseldorf e.V. ist ein Verein von aktiven Freifunkern. Wir haben ihn gegründet, um gemeinsam Projekte umzusetzen und finanzieren zu können.

  %h2 Förderung

  %p Wir freuen uns über eine Unterstützung durch deine Firma. Im Gegensatz dazu bieten wir euch die Platzierung eures Logos auf unserer Startseite an und vieles mehr. Bei Interesse schreibe uns bitte eine Mail und wir melden uns alsbald bei dir.

  %h2 Mitgliedschaft

  %p Bist du aktiver Freifunker in Düsseldorf? Dann tritt unserem Verein bei. Wir sind eine starke Gemeinschaft von Aktiven, die sich gegenseitig helfen und gemeinsame Infrastruktur betreiben. Wenn du Mitglied werden willst, dann schreibe uns eine Mail!

  %p.lead
    %i.fa.fa-envelope-o
    =link_to('kontakt@freifunk-duesseldorf.de', 'mailto:kontakt@freifunk-duesseldorf.de')

.col-md-6

  .row.well
    .col-md-4
      %p
        =link_to('Jetzt spenden!', '/spenden', :class => 'btn-primary btn')
    .col-md-8
      %p Wir sind vom Finanzamt als gemeinnützige Organisation anerkannt und können steuerlich abzugsfähig Spenden akzeptieren. Dabei hilft uns die Plattform Betterplace.org bei der Abwicklung.

  %img( alt='Stilisierte Zeichnung eines Mesh-Netzwerks' src='/images/freifunk-mesh.png' width='100%' )
